<!DOCTYPE html>
<html lang="en" ng-app="am_server">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%- title %></title>

	<link rel="shortcut icon" href="../../common/images/favicon.ico" />
	<!-- Bootstrap -->
	<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
	<!--<link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


	<!-- jquery -->
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<!-- bootstrap -->
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- angularjs -->
	<script type="text/javascript" src="/angularjs/angular.js"></script>
	<script type="text/javascript" src="/angularjs/angular-ui-router.js"></script>
	<script type="text/javascript" src="/angularjs/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="/angularjs/angular-resource.min.js"></script>

	<!-- w5v -->
	<script type="text/javascript" src="/javascripts/w5cValidator.min.js"></script>
	<!-- my js -->
	<script type="text/javascript" src="/javascripts/util/util.js"></script>
	<script type="text/javascript" src="/javascripts/common/amserver.js"></script>
	<script type="text/javascript" src="/javascripts/controller/login/loginController.js"></script>
	<script type="text/javascript" src="/javascripts/controller/register/registerController.js"></script>
	<script type="text/javascript" src="/javascripts/service/sessionStorage.js"></script>
	<script type="text/javascript" src="/javascripts/controller/main/indexController.js"></script>
	<script type="text/javascript" src="/javascripts/controller/resetPwController.js"></script>

</head>
